<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>HomePage</title>
</head>
<body class="bg-black text-center text-white font-extrabold bg-fixed bg-cover" style="background-image:url('/img/1593036.jpg')">
        <div class="flex felx-row justify-end flex-wrap">
            <div class="text-4xl p-8 hover:bg-slate-700"><a href="/login">LogIn</a></div>
            <div class="text-4xl p-8 hover:bg-slate-700"><a href="/signin">SignIn</a></div>
            <div></div>
        </div>
</body>
</html>